body {
  background-color: black;
  font-size: 14px;
  line-height: 18px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  height: 100%;
}

article, div, footer, header, main, nav, section {
  -webkit-box-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding : 0;
  position: relative
}

.main_page {

  flex-grow: 1;
  min-height: 100%;
  overflow: hidden;
  order: 4;
  padding: 30px 20px 0;
  box-sizing: content-box;
  width: calc(100% - 40px);
    margin: 0 auto 30px;
    max-width: 935px;
}

.infos {
  margin-bottom: 44px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.profile_picture {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-right: 30px;
  flex-shrink: 0;
}

.photo_display {
  height: 150px;
  width: 150px;
  display: block;
    background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
  position: relative;
}

.change {
  border: 0;
  cursor: pointer;
  height: 100%;
  padding: 0;
  width: 100%;
}

.photo {

  position: relative;
  top: 0;

}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3,
h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary,
sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
aside {
  display: block;
}

form {
  display: block;
}
label{
  cursor: default;
}

.modifier_photo {
  display: none!important;
}

body, button, input, textarea {
  color: #e84118;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0;
  font: 400 13px Arial;
  border: 1px solid rgb(195, 195, 195);
  border-image: initial;
}

input[type="file"] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  text-align: start !important;
  padding: initial;
  border: initial;
}

input {
  -webkit-writing-mode: horizontal-tb!important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  color: #0095f6;
  background-color: black;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0;
  font: 400 13px arial;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(195, 195, 195);
  border-image: initial;
}

input::-webkit-file-upload-button {
  background-color: rgba(0,149,246,.3);
  opacity: 1;
  color: #bbb;
  border-radius: 4px;
}


article {
  position: absolute;
  top: 140%;
  left: 24%
}



.info_principale {
  flex-basis: 30px;
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 1;
  min-width: 0;
}

.haut {
  margin-bottom: 20px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-shrink: 1;
  min-width: 0;
}

.fDxY1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.KV-D4 {
  color: #bbb;
}

.yUEEX {
  font-weight: 300;
}
.fKFbl {
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
}

._8A5w5, a._8A5w5, a._8A5w5:visited {
    background-color: transparent;
    border: 5px dotted darkred;
    color: #bbb;
  }
._4pI4F {
    width: 100%;
}
.L3NKy, a.L3NKy, a.L3NKy:visited {
    border-radius: 4px;
    position: relative;
}
.sqdOP {
    color: #bbb;
    -webkit-appearance: none;
    background: 0 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
  }
  .modifier_info {
    margin-left: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-shrink: 0;
}

.options {
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 8px;
}

.fas {
  display: block;
  position: relative;
  height: 24px;
  width: 24px;
  color: #bbb;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a, a:visited {
  color: #00376b;
  text-decoration: none;
}

.modify_account {
  flex-shrink: 0;
  display: block;
  margin-left: 20px;
}

.options, .options:visited {
    border: 5px ridge darkred;
  color: white;
  width: 100%;
  border-radius: 4px;
  position: relative;
  -webkit-appearance: none;
    background: transparent 0 0;
    box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb!important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  display: inline-block;
  text-align: center;
  background-color: rgb(74, 74, 74);
  box-sizing: border-box;
  text-indent: 0;
  text-shadow: none;
  align-items: flex-start;
  margin: 0;
  font: 400 13px Arial;

}

.milieu {
  margin-bottom: 20px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}



ul, ol {
  list-style: none;
}

.publication, .abonnés, .abonnement {
  font-size: 16px;
  margin-right: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  color: #bbb;
}

.text, .text:active, .text:visited, .text:hover {
  color: inherit;
}

.number {
  margin-right: 10px;
  color: darkred;
  font-weight: 600;
}

img {
  height: 150px;
  width: 150px
}





.EzUlV,
.PVkFi {
    -webkit-box-flex: 1;
}

.EzUlV {
    flex-direction: row;
    flex-grow: 1;
    justify-content: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-flex-grow: 1;


}

div .XfvCs {
    margin: 30px auto 0;
}




.BvMHM {
    width: 100%;
    margin: 60px auto 0;
    max-width: 935px;
    border: 8px ridge darkred;
    border-radius: 3px;
    overflow: hidden;
    background-color: black;
}

.BvMHM:empty {
    border: 0;
}

.wW1cu {
    flex-basis: 236px;
    flex-grow: 0;
    flex-shrink: 0;
    border-right: 2px dotted #e55039 ;
    -webkit-flex-basis: 236px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;

}



.h-aRd {
    display: block;
    width: calc(100% - 48px);
    height: 100%;
    padding: 16px 16px 16px 30px;
    border-left: 2px solid transparent;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
}

.-HRM- {
    border-left-color: #fff;
    font-weight: 600;
}


.fuQUr:hover {
    border-left-color: gold;
    color: black;
}

.h-aRd,
.h-aRd:visited,
.h-aRd:hover,
.h-aRd:active {
    color: #bbb;
}

.PVkFi {
    -webkit-flex: 1 1 400px;
    flex: 1 1 400px;
    min-width: 0;
}

.kWXsT{
-webkit-box-align: stretch;
align-items: stretch;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
flex-direction: column;
margin-bottom: 16px;
margin-top: 16px;
}

#box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;

}



input[type= "text"]:not(.search-txt), input[type= "password"], input[type= "email"]{
    background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;

}

input[type= "text"]:focus:not(.search-txt), input[type= "password"]:focus, input[type= "email"]:focus {
 width: 280px;
 border-color: #e55039;
 transition: 0.25s;
}

input[type= "submit"]{
    background: none;
 display: block;
 margin: 20px auto;
 text-align: center;
 border: 2px solid #e55039;
 padding: 14px 40px;
 width: 200px;
 outline: none;
 color: white;
 border-radius: 24px;
 cursor: pointer;

}

input[type= "submit"]:hover{
 background: #e55039;
 transition: 0.25s;
}

input::-webkit-validation-bubble {
 opacity: 0.95;
}
input::-webkit-validation-bubble-arrow-clipper {
 text-align:center;
}
input::-webkit-validation-bubble-arrow {
 background-color: #f4f4f4;
    border-width: 1px 0 0 1px;
 box-shadow: none;
}

input::-webkit-validation-bubble-message {
 background: #f4f4f4;
 border: 1px solid #D8000C;
 color: #D8000C;
 font-size: 100%;
 box-shadow: 0 1px 5px #bbb;
 text-shadow: 0 1px 0 #fff;
}
