body:not(.header) {
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  height: 100%;
}


article, footer, header, main, section{
  -webkit-box-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  box-sizing: border-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding : 0;
}

.main_page {
  flex-grow: 1;
  min-height: 100%;
  overflow: hidden;
  order: 4;
  padding: 30px 20px 0;
  box-sizing: content-box;
  width: calc(100% - 40px);
  margin: 0 auto 30px;
  max-width: 935px;
}

.infos {
  flex-direction: row;
}

.profile_picture {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin-right: 30px;
  flex-shrink: 0;
}

.photo_display {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.change {
  border: 0;
  cursor: pointer;
  height: 100%;
  padding: 0;
  width: 100%;
}

aside {
  display: block;
}

form {
  display: block;
}
label{
  cursor: default;
}

.modifier_photo {
  display: none!important;
}

body:not(.header), button, input, textarea {
  color: #e84118;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0;
  font: 400 13px Arial;
  border: 1px solid rgb(195, 195, 195);
  border-image: initial;
}

input[type="file"] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  text-align: start !important;
  padding: initial;
  border: initial;
}

input {
  -webkit-writing-mode: horizontal-tb!important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  color: #0095f6;
  background-color: black;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0;
  font: 400 13px arial;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(195, 195, 195);
  border-image: initial;
}

input::-webkit-file-upload-button {
  background-color: rgba(0,149,246,.3);
  opacity: 1;
  color: #bbb;
  border-radius: 4px;
}

.main_info {
  flex-basis: 30px;
  -webkit-box-flex: 2;
  flex-grow: 2;
  flex-shrink: 1;
  min-width: 0;
}

.haut {
  align-items: center;
  flex-direction: row;
  flex-shrink: 1;
  min-width: 0;
  display: flex;
  margin-top: 50px;
}

.fDxY1 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.KV-D4 {
  color: #bbb;
}

.yUEEX {
  font-weight: 300;
}
.fKFbl {
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
}

._8A5w5, a._8A5w5, a._8A5w5:visited {
  background-color: transparent;
  border: 5px dotted darkred;
  color: #bbb;
}
._4pI4F {
  width: 100%;
}
.L3NKy, a.L3NKy, a.L3NKy:visited {
  border-radius: 4px;
}
.sqdOP {
  color: #bbb;
  -webkit-appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
}
.modifier_info {
  margin-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-shrink: 0;
}

.options {
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 8px;
}

.fas:not(.fa-search) {
  display: block;
  color: #bbb;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a, a:visited {
  text-decoration: none;
}

.modify_account {
  flex-shrink: 0;
  display: block;
  margin-left: 5px;
  margin-right: 10px;
}

.options, .options:visited {
  border: 5px ridge darkred;
  color: white;
  border-radius: 4px;
  background: transparent 0 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb!important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  display: inline-block;
  text-align: center;
  background-color: rgb(74, 74, 74);
  box-sizing: border-box;
  text-indent: 0;
  text-shadow: none;
  align-items: flex-start;
  margin: 0;
  font: 400 13px Arial;

}

.milieu {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding: 0px;
}

ul, ol {
  list-style: none;
}

.profile_number {
  font-size: 16px;
  margin-right: 15px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  color: #bbb;
}

.text, .text:active, .text:visited, .text:hover {
  color: inherit;
}

.number {
  margin-right: 5px;
  color: darkred;
  font-weight: 600;
}

img {
  height: 150px;
  width: 150px
}

.EzUlV,
.PVkFi {
  -webkit-box-flex: 1;
}

.EzUlV {
  flex-direction: row;
  flex-grow: 1;
  justify-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-flex-grow: 1;

}

div .XfvCs {
  margin: 30px auto 0;
}




.BvMHM {
  width: 100%;
  margin: 60px auto 0;
  max-width: 935px;
  border: 8px ridge darkred;
  border-radius: 3px;
  overflow: hidden;
  background-color: #262626;
}

.BvMHM:empty {
  border: 0;
}

.wW1cu {
  flex-basis: 236px;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 2px dotted #e55039 ;
  -webkit-flex-basis: 236px;
  width: 25%;
}



.h-aRd {
  display: block;
  width: calc(100% - 48px);
  height: 100%;
  padding: 16px 16px 16px 16px;
  border-left: 2px solid transparent;
  font-size: 16px;
  margin-top: 40px;
}

.-HRM- {
  border-left-color: #fff;
  font-weight: 600;
}


.fuQUr:hover {
  border-left-color: gold;
  color: black;
}

.h-aRd,
.h-aRd:visited,
.h-aRd:hover,
.h-aRd:active {
  color: #bbb;
}

.PVkFi {
  flex: 1 1 400px;
}

.EzUlV, .PVkFi {
  -webkit-box-flex: 1;
}

.C_9MP {
  -webkit-box-orient: horizontal;
  flex-direction: row;
  margin: 32px 0 0;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.LqNQc {
  margin: 2px 32px 0 124px;
  height: 38px;
  width: 38px;
}

.M-jxE {
  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Ia1uj {
  border: 0;
  cursor: pointer;
  height: 100%;
  padding: 0;
  width: 100%;
}

._01jIc, .be6sR {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tb_sk {
  display: none !important;
}

.XX1Wc {
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  margin-right: 20px;
  overflow-x: hidden;
}

.kHYQv {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.QXEMa, .kHYQv {
  font-weight: 400;
}

.XX1Wc > button {
  text-align: left;
}

.yWX7d, .yWX7d:visited, a.yWX7d, a.yWX7d:visited {
  border: 0;
  color: #0095f6;
  display: inline;
  padding: 0;
  position: relative;
}

.sqdOP {
  -moz-appearance : none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-transform: inherit;
  user-select: none;
  width: auto;
}

.kWXsT{
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 50px;
}

.eE-OA{
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

._4EzTm {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.eGOV_ {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.IwRSH {
  -webkit-box-align: stretch;
  align-items: stretch;
}

.Igw0E {
  align-content: stretch;
}

.sxIVS {
  padding-left: 32px;
  padding-right: 32px;
  text-align: right;
  box-sizing: border-box;
  color: #bbb;
  -webkit-box-flex: 0;
  flex: 0 0 194px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  margin-top: 6px;

}

.ada5V {
  flex-basis: 355px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding-right: 60px;
  color: #bbb;
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 16px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.AC7dP {
  display: inline-block;
}

.vwCYk{
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
}

._56XdI{
  -webkit-box-align: start;
  align-items: flex-start;
}
.zyHYP{
  -webkit-appearance: none;
}

.JLJ-B {
  background: 0 0 ;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #bbb;
  -webkit-box-flex: 0;
  flex: 0 1 355px;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  width: 100%
}

.aGBdT {
  margin-top: 16px;
}

.bkEs3 {
  margin-bottom: 8px;
}

.MGdpg {
  margin-bottom: 16px;
}

.uL8Hv {
  display: block;
}

._0PwGv{
  color: #8e8e8e;
}

.MMzan {
  font-weight: 400;
}

.PIoXz {
  font-size: 12px;
  line-height: 14px;
  margin: -2px 0 -3px;
}

.p7vTm {
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #bbb;
  -webkit-box-flex: 0;
  flex: 0 1 355px;
  font-size: 16px;
  height: 60px;
  padding: 6px 10px;
  resize: vertical;
}

.pjcA_ {
  margin-bottom: 4px;
}

.JJF77 {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 600;
}

.yWX7d._8A5w5, a.yWX7d._8A5w5, a.yWX7d._8A5w5:visited {
  color: #bbb;
}

.F0B8Y{
  background: 0 0;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box;
  color: #bbb;
  -webkit-box-flex: 0;
  flex: 0 1 355px;
  font-size: 16px;
  height: 32px;
  padding: 0 10px;
  width: 100%
}

.Np4RR {
  margin: 6px 0;
}

.PLphk {
  color: #bbb;
  font-weight: 600;
}

.U17kh {
  -webkit-box-align: center;
  align-items: center;
  color: #8e8e8e;
  display: flex;
  font-size: 14px;
  line-height: 14px;
}

.tlZCJ {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]{
  background-color: initial;
  cursor: default;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.mwD2G {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  display: inline-block;
  height: 16px;
  margin: 0 8px 0 3px;
  position: relative;
  width: 16px;
}

.tlZCJ:checked~.mwD2G::before {
  content: ' ';
  border-bottom: 2px solid #bbb;
  border-left: 2px solid #bbb;
  display: block;
  height: 3px;
  position: absolute;
  top: 3px;
  left: 2px;
  transform: rotateZ(-45deg);
  width: 8px;
}

.cRH0J, .cRH0J:hover, .cRH0J:visited {
  color: #0095f6;
}

.cRH0J {
  display: inline-block;
  margin-left: 6px;
}

.fi8zo {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin-top: 16px;
}

.y3zKF[disabled]:not(.yWX7d):not(.A086a), a.y3zKF[disabled]:not(.yWX7d):not(.A086a), a.y3zKF[disabled]:not(.yWX7d):not(.A086a):visited{
  background-color: rgba(0,149,246,.3);
  opacity: 1;
}

.sqdOP[disabled]:not(.A086a) {
  opacity: .3;
}
.y3zKF:not(.yWX7d), a.y3zKF:not(.yWX7d), a.y3zKF:not(.yWX7d):visited{
  border: 1px solid transparent;
  background-color: #0095f6;
}

.sqdOP[disabled], a.sqdOP[disabled] {
  pointer-events: none;
}

.L3NKy, a.L3NKy, a.L3NKy:visited {
  border-radius: 4px;
  color: #fff;
}

button:disabled {
  color:  rgba(170, 170, 170);
  background-color:  rgba(19, 1, 1, 0.3);
  border-color:  rgba(195, 195, 195, 0.3);
}
