.forget{
    display: inline-block;
    font-size: 12px;
    color: white;
    float: right;
    margin-top: 10px;
}

.forget:hover {
    text-decoration-line: underline;
    text-decoration-color: #b71540;
    color: cornflowerblue;
}

label {
  color: white;
  margin-bottom: 15px;
}

#box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;

}

#registration h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

#box{
  width: 300px;
  padding: 40px;
  margin-bottom: 50px;
  background: #262626;
}

#registration {
  width: 315px;
  padding: 40px;
  background: #262626;
  margin-bottom: 50px;
  display: none;
}

input[type= "text"]:not(.search-txt), input[type= "password"], input[type= "email"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;

}

 input[type= "text"]:focus:not(.search-txt), input[type= "password"]:focus, input[type= "email"]:focus {
  width: 280px;
  border-color: #e55039;
  transition: 0.25s;
}

fieldset {
    border-color: #3498db;
}

input[type= "radio"]:checked{
    border: 6px solid darkred;
}

legend {
    color: white;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
}

.gender {
    margin-bottom: 5px;
}

label {
    margin-right: 5px;
    font-size: 11px;
}

 input[type= "submit"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #e55039;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  cursor: pointer;

}

input[type= "submit"]:hover, input[type= "submit"]:focus, input[type= "submit"]:active {
  background: darkcyan;
  transition: 0.25s;
}

input::-webkit-validation-bubble {
	opacity: 0.95;
}
input::-webkit-validation-bubble-arrow-clipper {
	text-align:center;
}
input::-webkit-validation-bubble-arrow {
	background-color: #f4f4f4;
	border: 1px solid #D8000C;
	box-shadow: none;
}

input::-webkit-validation-bubble-message {
	background: #f4f4f4;
	border: 1px solid #D8000C;
	color: #D8000C;
	font-size: 100%;
	box-shadow: 0 1px 5px #bbb;
	text-shadow: 0 1px 0 #fff;
}

.keeppassword input, .keeppassword label, .keeplogin input, .keeplogin label {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 15px;
  float: left;
}

.keeppassword input, .keeplogin input {
  float: left;
}

.keeppassword input #passwordkeeping, .keeplogin input #loginkeeping {
  margin-right: 5px;
}

.keeppassword label, .keeplogin label {
  margin-left: 20px;
}

p.change_link {
  color: white;
  margin-bottom: 10px;
  height: 15px;
  font-size: 12px	;
  text-align: center;
  border-radius: 0 0 5px 5px;


}
p.change_link btn {
	display: inline-block;
  color: red;
	font-weight: bold;
	padding: 2px 6px;
  margin-left: 10px;
	text-decoration: none;
  border-radius: 24px;
  cursor: pointer;
	border: 2px solid #3498db;
  transition: all  linear;
}

p.change_link btn:hover {
	color: rgb(57, 191, 215);
	border: 2px solid rgb(74, 179, 198);
}

p.change_link btn:active{
	position: relative;
	top: 1px;
}
