.ytd-item-section-renderer {
    margin-top: 16px;
}

.thumbnail {
    display: block;
}

#dismissable.ytd-video-renderer {
    display: flex;
    flex-direction: row;
    position: relative;
}

div, h3, img, span {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

.ytd-video-renderer {
    flex: none;
    width: 246px;
    height: 138px;
    margin-right: 16px;
}

.thumbnail {
    display: inline-block;
    position: relative;
}

#thumbnail.ytd-thumbnail {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
}

.sx-simple-endpoint {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#thumbnail.ytd-thumbnail #img-shadow.ytd-thumbnail {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: 100%;
}

img.img-shadow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: none;
    max-width: 100%;
}

#overlays.ytd-thumbnail {
    display: block;
}

.time {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    color: white;
    background-color: #1b1b1b;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
}

.text-wrapper.ytd-video-renderer {
    max-width: 600px;
    min-width: 0;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    flex: 1;
    flex-basis: 1em;
    display: flex;
    flex-direction: column;

}

#title-wrapper.ytd-video-renderer {
    display: flex;
    justify-content: space-between;
}

.title-and-badge.ytd-video-renderer {
    min-width: 0;
    color: white;
    margin-right: 8px;
    width: 400px;
}
#video-title {
    width: 400px;
}

#video-title.ytd-video-renderer {
    color:  #0095f6;
    font-size: 22px;
    font-weight: 400;
    line-height: 2.2rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.video-meta-block {
    display: flex;
    flex-direction: column;
}

#metadata.ytd-video-meta-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 18px;
}

#metadata-line.ytd-video-meta-block {
    color: #9fa3a7;
    position: relative;
    top: -90px;
    max-width: 100%;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    text-transform: lowercase;
    display: flex;
    flex-wrap: wrap;
}

#metadata-line.ytd-video-meta-block > .ytd-video-meta-block:not(:last-of-type)::after{
    content: "•";
    margin: 0 4px;
}

#metadata-line.ytd-video-meta-block span.ytd-video-meta-block {
    display: inline-block;
}

#description-text.ytd-video-renderer {
    color: #8e8e8e;
    padding-top: 8px;
    margin-bottom: 8px;
    display: block;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-transform: lowercase;
}

.search_results {
    top: 50%;
    left: 0;
    display: block;
    border: 5px ridge darkred;
    border-radius: 24px;
    padding: 35px;
    color: #0095f6;
}

strong {
    font-size: 30px;
}