

nav{
  background: #2f3640;
}



/*--------------------------------------------------*/
/*-----------------------MAIN-----------------------*/
/*--------------------------------------------------*/


.content_section_title{
  border-style: dotted;
  border-width: 0 0 1px;
  border-color: #e62600;
  width: auto;
  margin-bottom: 5px;
  color: white;
}

.content_section_title, .title_wrapper{
  padding: 0;
  display: block;
  margin: 0;
}

.content_section_title .title_text {
  width: calc(100% - 174px);
}

.content_section_title .title_wrapper .title_text {
  position: relative;
  display: inline-block;
  max-width: 100%;
  float: left;
  min-height: 20px;
}

.content_section_recent_videos_homepage .title_text {
  margin-top: 3px;
}

.content_section_title .title_wrapper .title_text i {
  position: relative;
  float: left;
}

.fa-video {
  width: 18px;
  height: 30px;
  color: white;
  position: relative;
  top: 18px;
  margin-right: 10px;

}

.content_section_title .title_wrapper .title_text .h2_class, .content_section_title .title_wrapper .title_text h1, .content_section_title .title_wrapper .title_text h2 {
  font-size: 22px;
  line-height: 20px;
  padding-left: 5px;
}

.truncate_text {
  line-height: 22px;
  white-space: nowrap;
}

h1 {
  font-weight: bold;
}

.videos_grid_wrapper{
  margin: 0 -3px 0 10px;
  text-align: center;
}

.video_item_wrapper{
  display: inline-block;
  vertical-align: top;
  width: 326px;
  height: 184px;;
  overflow: hidden;
  text-align: left;
  margin: 50px 30px 5px 0;
  background-color:#b000;

}

section{
  display: flex;
}

.video_item_wrapper a{
  color: black;
}

a:-webkit-any-link {
  cursor: pointer;
}

.video_item_wrapper a .video_item_title{
  height: 20px;
}

.video_item_wrapper a .video_item_stats, .video_item_wrapper a .video_item_title {
  background-color: #b33939;
}

.video_item_wrapper a .video_item_title .video_item_section_txt {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px;
  margin: 0px;
}




.far {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.fas {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.video_item_wrapper .thumb_preview {
  position: absolute;
}

.video_item_wrapper a img{
  width: 100%;
  height: 80%;
}

.hidden {
  display: none!important;
}

img {
  vertical-align: middle;
  border: 0;
}

.video_item_wrapper a .video_item_stats {
  bottom: 0;
  transition: bottom .3s linear;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  padding: 0 3px;
  text-align: center;
}

.clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after,
.navbar-header::before, .navbar::after, .navbar::before, .row::after, .row::before{
  display: table;
  content: " ";
}

.clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .row::after{
  clear: both;
}

.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}

.video_item_wrapper a .video_item_stats span i {
  position: relative;
  top: -2px;
  right: 0;
  bottom: 0;
  left: -2px;
}

.fa-thumb_up {
  width: 15px;
  height: 18px;

}

.content_section_footer {
  margin: 0;
  display: block;
}

.load_more_wrapper {
  margin-right: 5px;
  margin-left: 5px;
  display: block;
  margin-top: 5px;
}

.load_more_wrapper .load_more_btn {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.load_more_wrapper .load_more_btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  height: 50%;
  z-index: -1;
  border-bottom: 1px solid #c6c6c6;
}

.load_more_wrapper .load_more_btn .load_more_text {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 15px;
  border: 3px ridge #c23616;
  background-color: #c23616;
  color: black;
}

.btn-page:not(:disabled):not(.disabled){
  cursor: pointer;
}


.btn-page:hover {
  color: #fff;
  background-color: #bd2130;
  border-color: #bd2130;
  font-weight: bold;
}

.btn-page:focus, .btn-page:hover {
  text-decoration: none;
}

.ml-auto {
  margin-left: auto !important;
}

.btn-page {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  -webkit-writing-mode: horizontal-tb!important;
  border: 1px solid transparent;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0;
  text-shadow: none;
  align-items: flex-start;
  font: 400 13px Arial;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.d-flex {

}

.my-4 {
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between;!important;
}

.d-flex{
  display: flex !important;
}

.btn-primary {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}



