@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1b1b1b;
}

.main {
    margin-left: 275px; /* Same as the width of the sidenav */
    margin-top: 105px;
}
/*--------------------------------------------------*/
/*---------------------HEADER-----------------------*/
/*--------------------------------------------------*/
.search_form{
    display:inline-flex;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: #1b1b1b;
    padding-top: 8px;
    padding-bottom: 4px;
    width: 99.5%;
    flex-direction: row;
}

.search-box{
    position: relative;
    /*transform: translate(-50%, -50%);*/
    background: black;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    display: inline-flex;
    box-sizing: initial;
    flex-direction: initial;
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration-line: none;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    cursor: text;
}
.search-box:hover > .search-btn{
    background: white;
}
.search-txt{
    border:none;
    background :none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
}

pre {
    color: white;
}

.UpperRightBox{
    border: 5px ridge red;
    margin: 5px;
    display: inline-flex;
    position: relative;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color:white;
    min-width: 50px;
    overflow: hidden;
    box-sizing: initial;
}
.UpperRightBox::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background: #2f3640;
    z-index: -1;
    transition:0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    height: 180%;
}
.UpperRightBox:hover{
    color:#eb4d4b;
    cursor: pointer;
}
.UpperRightBox:hover::before{
    height: 0;
}
.UpperRightBox > p{
    text-align:center;
    width: 100%;
}
.UpperRightBox > a > p {
    color: white;
}
.UpperRightBox:hover > a > p{
    color:#eb4d4b;
}

.UpperRightBoxes{
    flex-direction: row;
    display: initial;
}
.logo{
    display: inline-flex;
    line-height: normal;
}
.Your{
    font-Size: 50px;
    color: white;
}
.Box{
    font-size: 50px;
    border: 3mm ridge red;
    text-decoration: none;
    color: #1b1b1b;
    padding: 3px;
    background-color: red;
}

b{
    color: white;
}

.account {
    text-decoration: none;
    border: 5px ridge red;
    vert-align: middle;
    text-align: center;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    position: relative;
    top: -215px;
    left: 27%;
    padding: 3px;
    font-size: 15px;
    color:white;
}

.btn a {
    color: white;
    text-align: center;
    vertical-align: middle;
}
/*-----------------------------------------------------*/
/*-----------------------SIDENAV-----------------------*/
/*-----------------------------------------------------*/
.sidenav {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 8px;
}

.sidenav-dropdown-container a {
    padding: 6px 16px 6px 16px;
    margin-left: 18px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: table;
}
.sidenav-dropdown-container{
    padding-left: 0;
    margin: 0;
    font-weight: normal;
    display: none;
}

.sidenav-dropdown-container a:hover{
    color: #b71540;
    border-radius: 500px;
    box-shadow:  0 0 10px #b71540,
    0 0 5px #66ffff;
}

.sidenav-dropdown-button{
    margin-bottom: -4px;
    margin-top: -4px;
}

.sidenav-solo, .sidenav-dropdown-button{
    padding: 6px 16px 6px 16px;
    margin-left:6px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #818181;
    display: initial;
    background : none;
    border : none;
}

.sidenav-solo:hover, .sidenav-dropdown-button:hover
{
    color: #b71540;
    border-radius: 500px;
    box-shadow:  0 0 10px #b71540,
    0 0 5px #66ffff;
}

.fa-caret-down {
    rotate: 270deg;
}

.sidenav-line{
    margin-right: 32px;
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 1px;
    border-bottom: 1px solid;
    border-bottom-color: #818181;
}