

#finished_video_upload,
#upload_form {
 font-family:'Source Sans Pro',sans-serif;
 color:#9f9f9f;
 padding:10px 30px 0
}
html {
 font-family:'Source Sans Pro',sans-serif
}
body {
 font-family:'Source Sans Pro',sans-serif;
 font-size:14px;
}
.content_upload_wrapper {
 position:relative;
 max-width:1000px
}
#upload_form label {
 font-size:16px;
 font-weight:bold;
 margin-bottom:0;
 text-align:left
}
#upload_form input[type=text] {
 height:23px
}
#upload_form .form_item {
 padding:0;
 font-weight: bold;
 font-size: 16px;
}
#upload_form .row {
 margin-bottom:4px
}
#upload_form .form_toc label {
 width:auto;
 font-size:14px
}
#upload_form .form_toc input[type=checkbox] {
 height:auto
}
#upload_form .form_submit {
 text-align:left
}
#upload_progress_wrapper {
 position:absolute;
 width:100%
}
#upload_progress {
 position:relative;
 width:400px;
 margin:0 auto;
 padding:8px 13px;
 border:1px solid #dedede;
 border-radius:2px;
 background-color:#fff
}
#upload_progress>div {
 margin-bottom:4px
}
#upload_progress .file_info {
 max-width:132px;
 margin:0 auto;
 padding-top:5px
}
#progress_iframe {
 width:100%;
 max-width:950px;
 height:300px;
 margin:0 auto;
 border:0
}
#finished_video_upload {
 font-size:14px;
 margin:8px 0 0 29px
}
#finished_video_upload>div {
 padding-bottom:5px;
 text-align:left
}
#finished_video_upload label {
 font-weight:700;
 float:left;
 width:155px
}
#finished_video_upload .green {
 font-weight:400;
 width:100%;
 text-align:left;
 color:green
}
#finished_video_upload .finished_other_video {
 font-weight:400;
 width:100%;
 cursor:pointer;
 text-decoration:underline
}
#finished_video_upload .red {
 width:100%;
 text-align:left;
 color:red
}
.upload_iframe {
 width:100%;
 max-width:950px;
 height:750px;
 margin:0 auto;
 border:0
}
@media(min-width:520px) {
 .upload_iframe {
  height:550px
 }
}
@media(min-width:1230px) {
 .upload_iframe {
  height:450px
 }
}
#upload_form .bootstrap-tagsinput {
 overflow-y:auto;
 min-height:48px;
 padding-top:0;
 padding-left:4px;
 text-align:left;
 width:100%
}
#upload_form .bootstrap-tagsinput .label {
 line-height:0;
 height:34px;
 padding:1px 3px 3px 4px
}
#upload_form .bootstrap-tagsinput .tag {
 margin-right:0
}
#upload_form .char_counter {
 display:inline-block;
 height:16px;
 line-height:16px;
 font-size:12px
}
#upload_form .warning {
 color:#cd1818!important
}
#upload_form .form-control-feedback {
 font-weight:700;
 color:#3c763d
}
#upload_form .toc_label {
 margin-left:6px
}
.form_toc_check {
 float:left;
}
.form_toc_label {
 float:left;
 width:95%
}
#upload_form .category_multi_explanation {
 color:#A09E9E;
 width:150px;
 font-size:12px
}
@media(max-width:700px) {
 #upload_form label {
  font-size:14px
 }
}
#upload_form .custom_creator_container {
 float:right
}
#upload_form input[type=text] {
 height:30px;
 width: 80%;
 font-size: initial;
}
@media(max-width:589px) {
 .is_mobile #upload_form label {
  width:100%;
  text-align:left;
  font-size:14px
 }
 .is_mobile .col-xs-10,
 .is_mobile .col-xs-2,
 .is_mobile .col-xs-4,
 .is_mobile .col-xs-6,
 .is_mobile .col-xs-8 {
  width:100%
 }
 .is_mobile #upload_form select {
  height:30px
 }
 .is_mobile #upload_form .category_multi_explanation {
  display:none
 }
 .is_mobile #upload_form {
  padding:10px 30px 0 10px
 }
}
#upload_form .add_creators input {
 max-width:260px;
 display:inline
}
#upload_form .add_creators button {
 width:33%;
 display:inline;
 margin-left:2px
}
.btn-default {
 font-weight:700;
 font-size:14px;
 padding:5px 15px;
 color:#fff;
 background-color:#FE2900
}
.label-info {
 background-color:#55ACEE;
 padding:0 5px 2px;
 margin:1px;
 color:#FFF
}
.row {
 margin-right:-10px!important;
 margin-left:-10px!important
}
.add_creators {
 margin-top:10px
}

.form-control{
 background-color: #2f3640;
 border-style: solid;
 border-color: #95321e;
 color: white;
}

#introduction {
 font-size: 23px;
 line-height: 21px;
 color: #9F9F9F;
 text-align: center;
 font-weight: bold;
 display: inline-flex;
}
#introduction p{
 margin:0;
}


.content_section_content {
 padding: 0 10px 5px;
}



.content_upload .pool_uploading_explanation {
 color : #9f9f9f;
 text-align: left;
}

.pool_uploading_explanation>p {
 padding-top: 3px;
}

div {
 display: block;
}

#upload_video{
 height:40px;
 width: 80px;
 font-weight: bold;
 background-color: #b33939;
 cursor: pointer;
}
#upload_video:hover{
 background-color: #ee5a5a;
}