
iframe {
    display: inline-block;
    border-radius: 4px;
    border: none;
    margin-right: 25px;
}

iframe:active {
    border: none;
}

header{
    font-size: 32px;
    line-height: 20px;
    font-weight: 700;
    padding-left: 5px;
    padding-bottom: 15px;
    color: #b71540;
    display: block;
    border-style: dotted;
    border-width: 0 0 5px;
    border-color: #b71540;
    margin-bottom: 30px;

}

.video_comments_wrapper {
    display: block;
    text-align: left;
}

.comments_display_wrapper {
    border: none;
    margin: 10px 0;
    width: 100%;
}

.emojiPickerIconWrap {
    width: 100%;
    display: inline-block;
}

.remove {
    color: #fff;
    border: none;
    background-color: #2f3640;

}

.remove:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.remove:focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.remove:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.remove:not(:disabled):active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}

.remove:not(:disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.comments_display_wrapper .comments_new_comment_wrapper textarea.comments_new_comment_txt,
.comments_display_wrapper .comments_reply_comment_wrapper textarea.comments_new_comment_txt {
    display: inline-block;
    width: 50%;
    height: 60px;
    border-radius: 2px;
    margin-bottom: 5px;
    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
}

textarea {
    box-sizing: border-box;
    color: #000;
    background-color: #285e8e;
}

.fa-smile-beam {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: unset !important;
    position: absolute;
    top: 15%;
    right: 51%;
    cursor: pointer;
    z-index: 10;
    vertical-align: middle;
    text-align: center;
    color: black;
}

.comments_display_wrapper .comments_new_comment_btn {
    display: block;
    height: 40px;
}

.comments_display_wrapper .comments_new_comment_btn button {
    float: right;
    width: auto;
    height: 41px;
    line-height: 18px;
    font-size: 18px;
    background-color: black;
}

.btn_comments_new {
    overflow: hidden;
    margin: 0;
    outline: 0;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border: 8px ridge #d93025;
    cursor: pointer;
}

.btn_comments_new:hover{
    color:#eb4d4b;
    font-weight: bold;
}

.btn_default {
    padding: 5px 15px;
}


.comments_display_wrapper .comments_section_wrapper {
    display: block;
}

.comments_display_wrapper .comments_section_wrapper .comments_top_title {
    padding-top: 5px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

}

.comments_display_wrapper .comments_section_wrapper .comments_top_title i {
    position: absolute;
    top: 8px;
    left: 5px;
}

.far , .fas {
    display: inline-block;
    vertical-align: middle;
}

.fa-comments {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
}

.clearfix::after {
    clear: both;
}

.clearfix::after, .clearfix::before {
    display: table;
    content: " ";
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment {
    padding: 10px 5px 10px 30px;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #c6c6c6;
    display: flex;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment_highlighted {
    color: #fff;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_avatar_wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    margin-top: 5px;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_body_wrapper {
    padding-top: 5px;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment_highlighted .comment_author_wrapper {
    color:  #fff;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_body_wrapper .comment_wrapper {
    margin: 5px 0 10px;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_body_wrapper .comment_actions_wrapper .comment_action_item,
.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_body_wrapper .comment_show_replies {
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
    font-size: 12px;
    border-radius: 2px;
    background-color: #2f3640;
    border: 2px solid #d93025;
    cursor: pointer;
    color: #fff;

}

.fa-thumbs-up {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
}

.fa-thumbs-down {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
}

.answer {
    cursor: pointer;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_body_wrapper .comment_show_replies {
    margin-top: 18px;
}

.fa-sort-up {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.fa-sort-down {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_body_wrapper .comment_reply_wrapper {
    margin: 10px 0 0;
}

.fa-bug {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    text-align: center;
}

.comments_display_wrapper .comments_section_wrapper .comments_wrapper .comment .comment_body_wrapper .comment_reply_wrapper .comment_reply_input {
    margin-top: 10px;
}

.comment_reply_wrapper {
    display: none;
}



.comments_display_wrapper .comments_reply_comment_wrapper {
    margin-left: 45px;
}




.rating {
    position: relative;
    top: 20px;
    float: left;
    width: 110px;
    height: 30px;
    margin: 0 5px;
    z-index: -1;
}

.rating_progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    height: 3px;
    margin: auto;
    transition: width 0.3s;
}

.rating_progress_bar_up {
    background-color: #3c763d;
}

.rating_progress_bar {
    height: 100%;
    float: left;
}
.rating_progress_bar_down {
    background-color: #ff0021;
}

#top-level-buttons.menu-renderer {
    display: flex;
    flex-direction: row;
}

.toggle-button-renderer.style-text[is-icon-button] {
    color: #8f8e8e;
}

.toggle-button-renderer.force-icon-button {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
}

.toggle-button-renderer {
    display: inline-block;
    margin: 0;
}

 a.toggle-button-renderer {
    cursor: pointer;
    align-items: center;
}

a.simple-endpoint.toggle-button-renderer {
    color: inherit;
    border-radius: inherit;
    text-decoration: none;
}

#button.toggle-button-renderer {
    color: #8f8e8e ;
    background-color: transparent;
    text-transform: inherit;
}

.icon-button {
    font-size: 18px;
    line-height: 1;
    padding: 8px;
    width: 40px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
}


button.-icon-button {
    vertical-align: middle;
    color: inherit;
    outline: none;
    background: none;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    cursor: pointer;
}

button.-icon-button > .icon {
    width: 100%;
    height: 100%;
}

.icon {
    align-items: center;
    align-items: center;
    vertical-align: middle;
    fill: #8f8e8e;
    stroke: none;
}

.sx-icon {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
}

.toggle-button-renderer.style-text[is-icon-button] #like_count.-toggle-button-renderer, .toggle-button-renderer.style-text[is-icon-button] #dislike_count.-toggle-button-renderer {
    color: #8f8e8e;
}

.formated-string {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 9px;
}

.fa-thumbs-up:hover, .is-liked .fa-thumbs-up {
    color: #3c763d;
}

.fa-thumbs-down:hover, .is-disliked .fa-thumbs-down {
    color: #bd2130 ;
}

 .video_actions_wrapper {
     margin: 5px;
 }



.video_details_wrapper.open {
    display: block;
}

.video_details_wrapper {
    display: none;
}

.video_details_wrapper .video_description_item {
    margin: 5px 0;
    padding-bottom: 5px;
    border-width: 0 0 1px;
    border-style: solid ;
    border-color: #c6c6c6;
}

.video_details_wrapper button {
    float: right;
}

@media (min-width: 480px) {
    .video_actions_wrapper button {
        width: 90px;
    }
}

.video_actions_wrapper button {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: -1px;
    display: inline-block;
    overflow: hidden;
    height: 22px;
    color: #fff;
    border: none;
    background-color: #b71540;
    line-height: 20px;
    padding: 0 5px;
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    margin: 0;
}

@media (min-width: 480px) {
    .video_actions_wrapper button span.btn_text {
        display: inline-block;
    }
}

.video_actions_wrapper button span.btn_text {
    line-height: 22px;
    height: 22px;
    padding-left: 16px;
}

.video_details_wrapper .video_description_item .video_description_text {
    font-size: 14px;
    font-weight: 400;
    display: initial;
}

.video_details_wrapper .video_description_item h2 {
    margin: 0;
}

.video_details_wrapper a, .video_details_wrapper .obfs {
    color: gold;
}

a {
    text-decoration: none;
}

.obfs {
    cursor: pointer;
}

.clearfix::before , .clearfix::after {
    display: table;
    content: " ";
}

.clearfix::after {
    clear: both;
}

.pull-left {
    float: left!important;
    margin-bottom: 15px;
}

.pull-right {
    float: right !important;
}

.video_actions_wrapper {
    color: white;
}
